* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    background: linear-gradient(90deg, #0b5d94, #b1f5e7, #f7b2be);
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif;
    height: 100%;
  }